section#descricao {
    background: var(--cor-principal);
}

section#descricao span{
    font-weight: bold;
}

section#descricao .imagem{
    margin-left: 45px;
}

@media (max-width: 768px) {
    section#descricao {
        height: 400px;
    }

    section#descricao .testo {
        padding-top: 90px;
        text-align: center;
    }
}